* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    flex-wrap: wrap;
    width: 100vw;
    align-items: center;
    padding: 0;
}

@keyframes fadeOut {
    0% {opacity: 1;}
    90%{opacity: 1;}
    100%{opacity: 0;}
}

#heroPar {
    font-size: small;
}

#heroText {
    opacity: 0;
    color: black;
    position: absolute;
    z-index: 1;
    top: 3vh;
    animation-name: fadeOut;
    animation-duration: 8s;
}

h1, h2 {
    color: #FF4698;
}

#name {
    animation-name: fadeInAnimation;
    animation-duration: 11s;
}

/*Poistion relative so we can use poistion absolute for colorBlock*/
#imageContainer {
    display: flex;
    flex: 1;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
}

@keyframes fadeInAnimation {
    0% {opacity: 0;}
    90% {opacity: 0;}
    100% {opacity: 1;}
}

picture {
    max-width: 100%;
    position: relative;
    flex: 1;
    animation-name: fadeInAnimation;
    animation-duration: 10s;
}

#largePP, #smallPP, #mediumPP{
    width: 50vw;
    height: auto;
    max-height: 100%;
    flex: 1;
    justify-self: center;
    border-radius: 5px;
    background-color: white;
}

h2 {
    margin-bottom: 10px;
}


#basicInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    flex: 1;
    position: relative;
    animation-name: fadeInAnimation;
    animation-duration: 12s;
}

/*Styling for the profile picture*/
#profilePic {
    width: 50vw;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    z-index: 0;
    position: relative;
    min-width: 20%;
    max-width: 50%;
    margin: 20px;
    top: 3vh;
}

/*Animation for color block on refresh of the page*/
@keyframes colorBlock {
    0% {width: 100vw; height: 0vh; opacity: 0.8;}
    20% {width: 100vw; height: 100vh;}
    40% {width: 0vw; height: 100vh;}
    60% {width: 100vw; height: 100vh;}
    80% {width: 100vw; height: 0vh; }
    99% {opacity: 0.8;}
    100% {width: 100vw; height: 100vh; opacity: 0.15;}
}

/*Styling for the color block*/
#ColorBlock {
    background-color: #ffffff;
    opacity: 0.8;
    background-image:  radial-gradient(#FF4698 3px, transparent 3px), radial-gradient(#FF4698 3px, #ffffff 3px);
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;
    opacity: 0.15;
    position: fixed;
    height: 100vh;
    width: 100vw;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    animation-name: colorBlock;
    animation-duration: 7s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    flex: 1;
    z-index: -1;
}

/*Basic styling for the nameAndDetails section*/
#nameAndDetails {
    margin: 20px;
    position: relative;
    top: 3vh;
    flex: 2;
    text-align: center;
}

/*Styling for lists in general*/
ul {
    list-style-type: none;
    padding-left: 0;
    padding-right: 25px;
    font-weight: bold;
}

/*Styling for the header section to be displayed on the left*/
header {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-self: flex-start;
    position: relative;
    height: 100%;
    width: 100%; 
}

/*Main content styling with different sections (Education, experience, etc)*/
#mainContainer {
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 90vw;
    flex-wrap: wrap;
    animation-name: fadeInAnimation;
    animation-duration: 13s;
}

#Education, #Experience, #Skills, #Hobbies {
    margin: 0 0 50px 0;
}

.qualificationName, .experienceName {
    flex: 1;
}

.educationSubContainer, .experienceSubContainer {
    display: flex;
    flex-direction:  row;
}

.qualificationDescription, .experienceDescription {
    flex: 2;
}

#Skills, #Hobbies {
    display: flex;
    justify-content: space-around;
}

/*Styling for icons*/
.icon {
    margin: 10px;
    height: 20px;
    width: 20px;
    filter: invert(39%) sepia(100%) saturate(1253%) hue-rotate(307deg) brightness(98%) contrast(106%);
}

/*Keyframes for icon when hovering over it*/
@keyframes iconAnimation {
    8.3%{transform: rotate(-15deg) scale(120%);}
    16.6%{transform: rotate(0deg) scale(110%); }
    24.9%{transform: rotate(15deg) scale(120%);} 
    33.26%{transform: rotate(0deg) scale(110%); }
    41.6%{transform: rotate(-15deg) scale(120%); }
    50%{transform: rotate(0deg) scale(110%); }
    58.3%{transform: rotate(15deg) scale(120%); }
    66.6%{transform: rotate(0deg) scale(110%); }
    74.9%{transform: rotate(-15deg) scale(120%); }
    83.2%{transform: rotate(0deg) scale(110%); }
    91.5%{transform: rotate(15deg) scale(120%); }
    100%{transform: rotate(0deg) scale(110%); }
}

/*Animation for on hover of icons*/
.icon:hover {
    animation-name: iconAnimation;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
    animation-iteration-count: infinite;
}

li {
    margin: 0 0 10px 0;
}

@keyframes footeranimate {
    0% {background-position: right;}
    50% {background-position: left;}
}

footer {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1111%26quot%3b)' fill='none'%3e%3cpath d='M1488 560L0 560 L0 323.55Q7.63 211.19%2c 120 218.82Q186.69 165.5%2c 240 232.19Q298.08 218.27%2c 312 276.35Q376.53 268.88%2c 384 333.41Q402.64 280.05%2c 456 298.69Q485.16 255.85%2c 528 285.01Q548.75 233.76%2c 600 254.51Q647.15 181.66%2c 720 228.81Q776.97 213.78%2c 792 270.74Q869.79 228.53%2c 912 306.33Q987.78 262.12%2c 1032 337.9Q1061.63 247.53%2c 1152 277.16Q1206.67 211.83%2c 1272 266.5Q1335.64 258.14%2c 1344 321.79Q1345.32 251.11%2c 1416 252.43Q1440.39 204.82%2c 1488 229.21z' fill='rgba(255%2c 70%2c 152%2c 1)'%3e%3c/path%3e%3cpath d='M1464 560L0 560 L0 401.88Q58.24 340.12%2c 120 398.36Q135.08 293.45%2c 240 308.53Q328 324.52%2c 312 412.52Q308.7 337.22%2c 384 333.92Q408.71 286.63%2c 456 311.34Q514.01 297.35%2c 528 355.36Q580.76 336.12%2c 600 388.88Q602.03 318.91%2c 672 320.95Q724.18 253.13%2c 792 305.32Q859.46 300.78%2c 864 368.25Q877.09 309.34%2c 936 322.42Q982.32 296.74%2c 1008 343.06Q1079.91 342.98%2c 1080 414.89Q1117.15 332.04%2c 1200 369.2Q1206.72 303.92%2c 1272 310.65Q1339.45 258.11%2c 1392 325.56Q1436.72 298.28%2c 1464 343z' fill='rgba(255%2c 136%2c 100%2c 1)'%3e%3c/path%3e%3cpath d='M1464 560L0 560 L0 485.93Q66.51 432.44%2c 120 498.96Q134.5 441.46%2c 192 455.96Q230.4 374.36%2c 312 412.76Q363.52 392.28%2c 384 443.8Q398.79 386.59%2c 456 401.38Q500.48 373.86%2c 528 418.34Q582.02 400.36%2c 600 454.38Q665.32 399.7%2c 720 465.02Q763.38 436.39%2c 792 479.77Q821.19 388.95%2c 912 418.14Q964.05 350.19%2c 1032 402.24Q1111.93 362.17%2c 1152 442.1Q1244.92 415.02%2c 1272 507.94Q1276.37 392.31%2c 1392 396.67Q1443.14 375.81%2c 1464 426.95z' fill='rgba(249%2c 248%2c 113%2c 1)'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 584.68Q61.77 526.45%2c 120 588.23Q142.56 490.79%2c 240 513.35Q263.75 465.11%2c 312 488.86Q366.5 423.36%2c 432 477.85Q491.82 465.67%2c 504 525.49Q563.71 513.2%2c 576 572.91Q618.94 543.85%2c 648 586.79Q651.42 518.21%2c 720 521.64Q772.37 454.01%2c 840 506.38Q907.97 502.35%2c 912 570.31Q983.39 521.7%2c 1032 593.09Q1044.49 533.58%2c 1104 546.07Q1148.77 518.84%2c 1176 563.61Q1216.39 484%2c 1296 524.39Q1388.83 497.22%2c 1416 590.05Q1442.6 544.65%2c 1488 571.25z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1111'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-position: right;
    width: 100vw;
    justify-self: flex-start;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: fadeInAnimation;
    animation-duration: 13s;
    object-fit: contain;
}

form {
    width: 350px;
}

label {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#buttonContainer {
    display: flex;
    justify-content: flex-end;
}

#Submit, input, select, textarea {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

#Submit:hover {
    transform: scale(110%);
}

#Subject {
    font-weight:550;
}


@media all and (min-width: 350px) and (max-width: 600px){
    .educationSubContainer, .experienceSubContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #ColorBlock {
        height: 100vh;
    }

    h1 {
        font-size: 4vh;
        text-align: center;
    }

    h2 {
        font-size: 3vh;
        text-align: center;
    }

    h3, p{
        font-size: 2vh;
    }

    #heroText {
        font-size: 5vh;
        margin: 20px;
    }

    #heroPar {
        font-size: 3vh;
    }

    #mainContainer {
        padding: 0px;
    }

    .qualificationName, .experienceName {
        margin-right: 5px;
    }

    .qualificationName, .qualificationDescription, .experienceName, .experienceDescription {
        margin-bottom: 20px;
    }

    form {
        width: 90vw;
    }

}

@media all and (min-width: 600px) and (max-width: 850px){


    h1 {
        font-size: 4vh;
    }

    h2 {
        font-size: 3vh;
    }

    h3, p{
        font-size: 2vh;
    }

    #heroText {
        font-size: 5vh;
        margin: 20px;
    }

    #heroPar {
        font-size: 3vh;
    }

    #mainContainer {
        padding: 0px;
    }

    .qualificationName, .experienceName {
        margin-right: 5px;
    }

    .qualificationName, .qualificationDescription, .experienceName, .experienceDescription {
        margin-bottom: 20px;
    }

    form {
        width: 50vw;
    }

    footer {
        background-repeat: no-repeat;

    }
}

@media all and (min-width: 850px) and (max-width: 1600px){

    .icon {
        width: 3vh;
        height: 3vh;
    }

    h1 {
        font-size: 6vh;
    }

    h2 {
        font-size: 4.5vh;
    }

    h3, p, label{
        font-size: 3vh;
    }

    form {
        width: 70vw;
    }

    #heroText {
        font-size: 10vh;
        margin: 20px;
    }

    #heroPar {
        font-size: 5vh;
    }

    #mainContainer {
        padding: 0px;
    }

    .qualificationName, .experienceName {
        margin-right: 5px;
    }

    .qualificationName, .qualificationDescription, .experienceName, .experienceDescription {
        margin-bottom: 20px;
    }
}

